body {
    margin: 0;
    height: 100vh;
    /*background-image: url('assets/img/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;*/
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 400px;
    height: 400px;
    background-color: rgb(218, 218, 218);
    opacity: 0.6;
}

div {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}
